<% content_for :head do %>
<link rel="stylesheet" href="plugins/jstree/style.css">
<script type="text/javascript" src="bower_components/react/react.js"></script>
<script type="text/javascript" src="bower_components/react/JSXTransformer.js"></script>

<% end %>
<% content_for :scripts do %>
<!--
<script type="text/javascript" src='http://fb.me/react-0.13.0.js' ></script>
<script type="text/javascript" src='http://fb.me/JSXTransformer-0.13.0.js' ></script>
-->
<script type="text/jsx" src="gojs/components/StepDetailInfo.jsx"></script>
<script type="text/jsx" src="gojs/components/AssertionDetail.jsx"></script>
<script type="text/jsx" src="gojs/components/StepDetailInfoEdit.jsx"></script>
<script type="text/jsx" src="gojs/components/TestNodeDetailDialog.jsx"></script>
<script type="text/javascript" src="plugins/jstree/jstree.min.js"></script>
<script type="text/javascript" src="bower_components/jquery-confirm/jquery.confirm.min.js"></script>
<script type="text/javascript" src='gojs/go.js' ></script>
<script type="text/javascript" src='gojs/service/MockTestModelService.js'></script>
<script type="text/javascript" src='gojs/model/NodeModel.js'></script>
<script type="text/javascript" src="gojs/gojs-app.js"></script>


<% end %>

<div class="canvas_container" style="margin-left: 15%">
	<div>This is container</div>
	<div class="row" >
		<div class="col-md-2" style="background:#989898; height: 720px;z-index:1000">
			<div class="overview_panel row" style="margin: 0px; background: lightgray">
				<div ><label>Overview</label></div>
				<div id="myOverviewDiv" style="height: 120px; "></div>
			</div>
			<div>
				<div class="row" style="background: white">
					<div class="col-md-12">
						<label>Action Panel</label>
					</div>
				</div>
				<div id="myPalette" style="height:320px">
				</div>
			</div>
			<div style=" display:none">
				<div class="row" style="background: white;">
					<div class="col-md-12">
						<label>Assert Panel</label>
					</div>
				</div>
				<div id="palette-assert" style="height:100px">
				</div>
			</div>
			<div>
				<div class="row" style="background: white">
					<div class="col-md-12">
						<label>Group Panel</label>
					</div>
				</div>
				<div id="palette-group" style="height:300px">
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row" style="z-index: 100; margin: 5px 10px;">
				<div class="cover col-md-7" >
					<button class="btn btn-sm btn-default" disabled>Save</button>
					<button id="btn_load_diagrams" class="btn btn-sm btn-primary" >Load</button>
					<button id="btn_new_diagram" class="btn btn-sm btn-success" >New</button>
					<button class="btn btn-sm btn-default" disabled>Run</button>
					<button class="btn btn-sm btn-default" disabled>Debug</button>
				</div>
				<div class="col-md-5">
					<button class="btn btn-sm btn-default pull-right" >Version Control</button>
					<button class="btn btn-sm btn-default  pull-right" >Change Log</button>
					<button id="btn_diagram_export_json" class="btn btn-sm btn-warning pull-right" >Export as Json</button>
				</div>
			</div>
			<div id="myDiagramDiv" style="height: 720px; background:#DAE4E4"></div>
		</div>
	</div>
</div>
	
<!-- <div id="detail-dialog" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Modal Default</h4>
			</div>
			<div class="modal-body">
				<p>This part should be used to display the attribute of each step</p>
				<p>Maybe a button will be included here, just to change edit mode</p>
				<div id="detail_info_step">
				</div>
			</div>
			<div class="modal-footer">
				<button onclick="modalClose()" type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button onclick="modalClose()"  type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div> -->
<div id="detail-dialog" class="modal">
	<div="detail-dialog-content"></div>
</div>

<div id="load-dialog" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" onclick="loadModalClose()" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Load Test Model</h4>
			</div>
			<div class="modal-body">
				<div id="test-model-search">
					<input type="text" value="test">
					<button class="btn btn-sm btn-default">Search</button>
				</div>
				<div id="test-model-selector" class="well">
				</div>
			</div>
			<div class="modal-footer">
				<button onclick="loadModalClose()" type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button onclick="openTestSuite()"  type="button" class="btn btn-primary">Open</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
				