<% content_for :scripts do %>
	<script type="text/javascript" src='http://fb.me/react-0.13.0.js' ></script>
	<script type="text/javascript" src='http://fb.me/JSXTransformer-0.13.0.js' ></script>
	<script type="text/javascript" src='gojs/go.js' ></script>
	<script type="text/javascript" src='gojs/service/MockTestModelService.js'></script>
	<script type="text/javascript" src='gojs/model/NodeModel.js'></script>
    <script type="text/javascript" src="gojs/gojs-app.js"></script>

<% end %>

<div class="canvas_container" style="margin-left: 15%">
   <div>This is container</div>

   <div class="row" >
   		<div class="col-md-2" style="background:#989898; height: 720px;z-index:1000">
   			<div class="overview_panel row" style="margin: 0px; background: lightgray">
   				<div ><label>Overview</label></div>
   				<div id="myOverviewDiv" style="height: 120px; "></div>
   			</div>
   			<div>
	   			<div class="row" style="background: white">
	   				<div class="col-md-12">
	   					<label>Action Panel</label>
	   				</div>
	   			</div>
	   			<div id="myPalette" style="height:320px">
	   			</div>
   			</div>
   			<div style=" display:none">
	   			<div class="row" style="background: white;">
	   				<div class="col-md-12">
	   					<label>Assert Panel</label>
	   				</div>
	   			</div>
	   			<div id="palette-assert" style="height:100px">
	   			</div>
	   		</div>
	   		<div>
	   			<div class="row" style="background: white">
	   				<div class="col-md-12">
	   					<label>Group Panel</label>
	   				</div>
	   			</div>
	   			<div id="palette-group" style="height:300px">
	   			</div>
	   		</div>
   		</div>
   		<div class="col-md-10">
   			<div class="row" style="z-index: 100; margin: 5px 10px;">
	   			<div class="cover col-md-7" >
	   			    <button class="btn btn-sm btn-default" >Save</button>
	   			    <button class="btn btn-sm btn-primary" >Load</load>
	   			    <button class="btn btn-sm btn-default" >Run</load>
	   			    <button class="btn btn-sm btn-default" >Debug</load>
	   			    <button class="btn btn-sm btn-default" >Debug</load>
	   			</div>
	   			<div class="col-md-5">
	   				<button class="btn btn-sm btn-default" >Version Control</button>
	   				<button class="btn btn-sm btn-default" >Change Log</button>
	   			</div>
	   		</div>
   			<div id="myDiagramDiv" style="height: 720px; background:#DAE4E4"></div>		
   		</div>
   </div>
   

   <div id="detail-dialog" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
	            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Modal Default</h4>
                </div>
                <div class="modal-body">
                  <p>This part should be used to display the attribute of each step</p>
                  <p>Maybe a button will be included here, just to change edit mode</p>
                </div>
                <div class="modal-footer">
                    <button onclick="modalClose()" type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button onclick="modalClose()"  type="button" class="btn btn-primary">Save changes</button>
               </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>